@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* FONTS */
$playfairDisplay: "Playfair Display", "Times New Roman", serif;


/* SCALING */
$size-h1: 6.2rem;
$size-h2: 4.8rem;
$size-h3: 3.4rem;
$size-h4: 2.4rem;
$size-h5: 2rem;
$size-h6: 1.6rem;
$size-xl: 6.2rem;
$size-l: 3.4rem;
$size-m: 1.6rem;
$size-s: 1.2rem;
$size-xs: .8rem;

$rsize-l: 3.2em;
$rsize-m: 1.6em;
$rsize-s: .8em;

$ls-condensed: -.15rem;
$ls-neat: -.05rem;
$ls-normal: 0rem;
$ls-rare: .025rem;
$ls-wide: .05rem;

$border-size-l: 4px;
$border-size-m: 2px;
$border-size-s: 1px;


/* COLORS */
$off-black: #555555;
$off-white: #cecece;